/* Estilos para dispositivos maiores */
header {
    background-color:blueviolet;
    padding: 5px;
    color: #fff;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
section lat{
    background-color:#F4A460;
    padding: 5px;
    color: #fff;
    letf:0;
  
}
nav li {
    display: inline;
    margin-right: 10px;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

/* Estilos para dispositivos menores */
@media screen and (max-width: 600px) {
   header {
        text-align: center;
    }

    nav {
      //  margin-top: 10px;
    }

    main {
       // text-align: center;
    }
}
iframe {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
aside{
  background: blueviolet;align-self 
  color: #FDFDFD;
  width:20%;
  height: 60.00%;
  position: absolute;
  padding: 5px;
  display: inline;
  border: 2px;
  border-color: #000;
}

footer {
  
  position:absolute ;
  top:87.00%;
}

main{
  
  background:  #fccfa01;
  color: #FDFDFD;
  left: 25%;
  position: absolute;
  width: 65%;
  height: 57%;
  border: 2px;
  padding: 14.00px;
}
.btn {
  display: inline-block;
  
  background-color: #00cc00;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
}
.btn:active {
  background-color: red;
  /* Outras propriedades de estilo que você queira aplicar */
}
.btn {
  margin-bottom: 5px;
  padding: 5px;
  /* espaçamento entre botões */
}

