/* Estilos para dispositivos maiores */
header {
    background-color:#444444;
    padding: 5px;
    color: #fff;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
section lat{
    background-color:#F4A460;
    padding: 5px;
    color: #fff;
    letf:0;
  
}
nav li {
    display: inline;
    margin-right: 10px;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

/* Estilos para dispositivos menores */
@media screen and (max-width: 600px) {
   header {
        text-align: center;
    }

    nav {
      //  margin-top: 10px;
    }

    main {
       // text-align: center;
    }
}
.video-container {
  top: 0;
  position: relative;
  width: 88%;
  height: 0%;
  padding-bottom: 80.00%; /* Proporção de aspecto 16:9 (dividido por 16 e multiplicado por 9) */
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
aside{
  background: #836FFF;
  color: #FDFDFD;
  width:30%;
  height: 60.00%;
  position: absolute;
  padding: 5px;
  display: inline;
  border: 2px;
  border-color: #000;
}

footer {
  
  position:absolute ;
  top:84.00%;
}
article{
  
}
main{
  
  background:  #ffffff;
  color: #FDFDFD;
  left: 34%;
  position: absolute;
  width: 55%;
  height: 57%;
  border: 2px;
  padding: 14.00px;
}
.btn {
  display: inline-block;
  
  background-color: #00cc00;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
}
.btn:active {
  background-color: red;
  /* Outras propriedades de estilo que você queira aplicar */
}
.btn {
  margin-bottom: 5px;
  padding: 5px;
  /* espaçamento entre botões */
}

