/* Estilos para dispositivos maiores */
header {
    background-color:#191970;
    padding: 5px;
    color: #fff;
  
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}
li,ul,nav{
  margin-right: 0;
}
iframe {
    width: 100%;
    height: 56.25%;
    margin: auto;
    position: absolute;
    top: 10px;
    left: 2px;
    right: 0;
}
aside{
  background: #0000FF;
  color: #FDFDFD;
  width:20%;
  height: 80.00%;
  position: absolute;
  padding: 5px;
  border: 2px;
  border-color: #000;
}

footer {
  
  position:absolute ;
  top:87.00%;
}

.btn {
  display: inline-block;
  
  background-color: #D2691E;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
}
.btn:active {
  background-color: red;
  /* Outras propriedades de estilo que você queira aplicar */
}
.btn {
  margin-bottom: 5px;
  padding: 5px;
  /* espaçamento entre botões */
}

.btn:hover {
      background-color: red;
    }
body{
}


main{
  
  background:  #fccfa01;
  color: #FDFDFD;
  left: 25%;
  position: absolute;
  width: 65%;
  height: 57%;
  border: 2px;
  padding: 14.00px;
}
/* Estilos para dispositivos menores */
@media screen and (max-width: 600px) {
   header {
        width: 200px:
        text-align: center;
    }

    nav {
        margin-top: 10px;
    }

    main {
        text-align: center;
    }
}
